{% extends 'base.html' %}
{% block title %}Search{% endblock %}
{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Search for "{{ q }}"</div>
                <div class="panel-body">
                    {% if channels %}
                        <h4>Channels</h4>
                        <div class="well">
                            {% for channel in channels %}
                                <div class="media">
                                    <div class="media-left">
                                        <a href="{% url "tube:channel_index" channel.slug %}">
                                            <img src="{{ channel.get_file_name }}" alt="" class="media-object">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <a href="{% url "tube:channel_index" channel.slug %}" class="media-heading">{{ channel.name }}</a>
                                        {{ channel.subscriptions_set.count }} subscribers
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if videos %}
                        {% for video in videos %}
                            <div class="well">
                                {% include 'app/video_partial.html' with video=video %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No videos found.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}