{% extends 'base.html' %}
{% block title %}Upload video{% endblock %}
{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Upload</div>
                <div class="panel-body">
                    {% verbatim vue %}
                        <video-container></video-container>
                    {% endverbatim vue %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}