<div class="row">
    <div class="col-sm-3">
        <a href="#">
            <img src="{{ video.get_thumb }}" alt="" class="img-responsive">
        </a>
    </div>
    <div class="col-md-9">
        <a href="#">{{ video.title }}</a>
        {% if video.description %}
            <p>{{ video.description }}</p>
        {% else %}
            <p>No description</p>
        {% endif %}
        <ul class="list-inline">
            <li><a href="#">Channel name</a></li>
            <li>{{ video.created_at}}</li>
            <li>video views</li>
        </ul>
    </div>
</div>